html { 
    height: 100% 
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    min-width: 720px; 
    min-height: 500px;
    font-family: Arial, sans-serif; 
    font-size: 1em;
    font-weight: 700;
    color: #141414; 
}

.map_container {
    min-height: 100%;
}

.mol-Map-LoadingWidget {
    position: relative;
    left: 50%;
}

/*
 * Google Maps Controls
 */

.FIRST, .TOP, .MIDDLE, .BOTTOM, .LAST {
    pointer-events: none;
}

.mol-Map-TopLeftControl, .mol-Map-CenterTopControl, .mol-Map-RightControl,
.mol-Map-LeftBottomControl, .mol-Map-RightBottomControl {
    pointer-events: none;
}

.mol-Map-RightControl .TOP, .mol-Map-RightControl .MIDDLE, 
.mol-Map-RightControl .BOTTOM, .mol-Map-CenterTopControl .TOP,  
.mol-Map-CenterTopControl .MIDDLE, .mol-Map-CenterTopControl .BOTTOM,
.mol-Map-LeftBottomControl .TOP, .mol-Map-LeftBottomControl .MIDDLE, 
.mol-Map-LeftBottomControl .BOTTOM, .mol-Map-TopLeftControl .TOP, 
.mol-Map-TopLeftControl .MIDDLE, .mol-Map-TopLeftControl .BOTTOM  { 
    position: relative; 
    float: left; 
    width: 100%; 
    height: auto; 
    margin-bottom: 0.42em; 
}

/* Set up RightControl defaults */
.mol-Map-RightControl { 
    margin-right: 0.42em; 
    width: 500px;
}

/* Set up CenterControl defaults */
.mol-Map-CenterTopControl { 
    margin-right: -4.167em; 
    width: 465px; 
}

/* Set up LeftControl defaults */
.mol-Map-LeftBottomControl { 
    position:absolute; 
    left: 0; 
    width: 500px; 
}

/* Set up TopLeftControl defaults */
.mol-Map-TopLeftControl {
    margin-left: 0.42em;
	width: 550px;
    height: auto;
    color: #141414;
}